body {
  background: #b4e1ff;
}

.app {
  display: flex;
  flex-flow: row wrap;
  font-family: sans-serif;
  font-size: 16px;
}

.bar {
  background: #fface4;
  display: flex;
  height: 100px;
  width: 100%;
  margin: 0px 15px;
}

.nav {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  margin: 15px;
  flex: 1 200px;
  font-weight: bold;
  text-transform: uppercase;
}

.btn {
  background: #ab87ff;
  width: 100%;
  height: 50px;
  margin: 5px 0px;
  border-radius: 5px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  cursor: pointer;
}

.btn:hover {
  background: #fface4
}

.content {
  margin: 15px 15px 15px 15px;
  background: #fface4;
  display: flex;
  flex-flow: column wrap;
  flex: 4 400px;
  justify-content: flex-start;
  padding: 10px;
}

.archiv {
  margin: 3px 0px;
}

.list {
  height: 100%;
  display: flex;
  flex-flow: column wrap;
}

.task {
  display: flex;
  flex-flow: row wrap;
  background: #ab87ff;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.search {
  align-self: center;
  width: 30%;
  margin: 10px;
  height: 25px;
  margin-left: 0;
  border-radius: 10px;
  border: 0px;
  font-family: sans-serif;
  outline: none;
  padding-left: 10px;
  transition: width 0.4s ease-in-out;
}

.search-icon {
  background: url('../img/search.png');
}

.search:focus {
  width: 60%;
}

.field {
  display: flex;
  flex-flow: row wrap;
  padding: 0 20px;
}

.area {
  flex: 5;
  border: 0px;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 15px;
  padding-left: 10px;
  resize: none;
}

.collection {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.folder {
  height: 200px;
  width: 200px;
  border-radius: 10%;
  margin: 15px;
  background: #ab87ff;
  display: flex;
  flex-flow: column wrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  cursor: pointer;
}

.folder:hover {
  background: #f5ffc6;
}

.folderName {
  align-self: center;
  display: inline-block;
}

.descript {
  margin: 0;
  flex: 1;
  align-self: center;
}

.edit-field {
  border-radius: 20px;
  border: 0;
  outline: none;
}

.delete-btn {
  background: url('../img/delete.png');
  height: 48px;
  width: 48px;
  align-self: center;
}

.edit-btn {
  background: url('../img/edit.png');
  width: 48px;
  height: 48px;
  align-self: center;
}

.complete {
  background: #b4e1ff;
  align-self: center;
  border-radius: 100%;
  margin: 0px 15px 0px 5px;
  height: 15px;
  width: 15px;
  border: 5px solid #fface4;
}

.complete:active {
  background: #fface4;
}

input[type=checkbox] {
  display: none;
}

.note-btn {
  background: darkslateblue;
}

.note {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 30px;
}

.note-field {
  width: 100%;
  height: 450px;
  border: 0px;
  outline: none;
  resize: none;
}

.note-save {
  background: #c1ff9b;
}

.note-buttons {
  background: #fface4;
  display: flex;
}

.stopwatch, .timer {
  display: flex;
  flex-flow: row;
  background: #ab87ff;
  color: mediumvioletred;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  align-items: center;
}

.timer {
  display: flex;
  flex-flow: row;
}

.stopwatch-btn, .back, .timer-btn, .note-btn, .note-save, .sand, .exit,
.save, .timer-spoiler-btn, .timer-spoiler-off-btn {
  width: 48px;
  height: 48px;
  align-self: center;
}

.note-btn {
  background: url('../img/note.png');
}

.stopwatch-btn {
  background: url('../img/play.png');
}

.pause {
  background: url('../img/pause.png');
}

.timer-btn {
  background: url('../img/cancel.png')
}

.timer-spoiler-btn {
  background: url('../img/timer-on.png');
}

.timer-spoiler-off-btn {
  background: url('../img/timer-off.png');
}

.save {
  background: url('../img/save.png');
}

.exit {
  background: url('../img/exit.png')
}

/*
.stopwatch-btn {
  background: url('../img/Play Filled.png');
}

.note-save {
  background: url('../img/Save as-48.png');
}

.back {
  background: url('../img/Exit-48.png');
}

.sand {
  background: url('../img/Rocket-48.png');
}*/

.sand:hover {
  transform: rotate(90deg);
}

.edit-field {
  flex: 1;
  height: 50%;
  align-self: center;
  border-radius: 0;
  margin-right: 10px;
  margin-left: 40px;
  outline: none;
}

.edit-close, .edit-save {
  margin-left: 5px;
  margin-right: 3px;
}

.edit-save {
  background: url('../img/Save as-48.png');
}

.edit-close {
  background: url('../img/Multiply-48.png');
}

.folder-field {
  width: 195px;
  margin-top: 15px;
  justify-center: center;
  outline: none;
}