body {
  background: #b4e1ff;
}

.app {
  display: flex;
  flex-flow: row wrap;
  font-family: sans-serif;
  font-size: 16px;
}

.content {
  margin: 15px 15px 15px 0px;
  background: #fface4;
  display: flex;
  flex-flow: column;
  flex: 4;
}

.bar {
  background: #fface4;
  display: flex;
  height: 100px;
  width: 100%;
  margin: 0px 15px;
}

.nav {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  margin: 15px;
  flex: 1;
  font-weight: bold;
  text-transform: uppercase;
}

.btn {
  background: #ab87ff;
  width: 100%;
  height: 50px;
  margin: 5px 0px;
  border-radius: 5px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  cursor: pointer;
}

.btn:hover {
  background: #fface4
}

.task {
  justify-content: center;
}

.collection {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.list {
  display: flex;
  flex-flow: column wrap;
}

.folder {
  height: 200px;
  width: 200px;
  border-radius: 10%;
  margin: 15px;
  background: #ab87ff;
  text-align: center;
  display: flex;
  justify-content: center;
}

.folder- {
  display: flex;
  align-self: center;
  font-weight: bold;
  flex-flow: column;
}

.folder:hover {
  background: #f5ffc6;
}

.bar:active, .folder:active, .btn:active, .task:active {
  background: #c1ff9b;
}

.task {
  display: flex;
  flex-flow: column wrap;
  margin: 10px 20px;
}

.read {
  background: #ab87ff;
  display: flex;
  flex-flow: row wrap;
  word-wrap: inherit;
  white-space: pre-wrap;
}

.descript {
  text-indent: 15px;
  text-transform: lowercase;
  flex-flow: column wrap;
  word-break: break-all;
  text-size: 10px;
  flex: 1;
}

.delete-btn {
  border-radius: 100%;
  background: indianred;
  height: 30px;
  width: 30px;
}

.panel {
  display: flex;
  background: #ab87ff;
}

.edit-btn, .note-btn, .complete {
  background: fuchsia;
  height: 30px;
  width: 30px;
  border-radius: 100%;
}

.complete {
  background: #b4e1ff;
  align-self: center;
  border-radius: 100%;
  margin-left: 15px;
}

.note-btn {
  background: darkslateblue;
}

.search {
  align-self: center;
  width: 90%;
  height: 25px;
  display: flex;
  margin: 5px;
  border-radius: 10px;
  border: 0px;
  font-family: sans-serif;
}

.field {
  display: flex;
  flex-flow: row wrap;
  padding: 0 20px;
}

.area {
  flex: 5;
  border: 0px;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 15px;
}

.sand {
  flex: 1;
}

.note {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 30px;
}

.note-field {
  width: 100%;
  height: 450px;
  border: 0px;
}

.back, .note-save {
  height: 50px;
  background: #ab87ff;
  flex: 1;
}

.note-save {
  background: #c1ff9b;
}

.note-buttons {
  background: #fface4;
  display: flex;
}

.swopwatch-table, timer-table {
  display: flex;
  height: 60px;
}

.stopwatch, .timer {
  display: flex;
  flex-flow: column;
  background: #ab87ff;
  font-size: 25px;
}

.timer {
  background: #c1ff9b;
}



.stopwatch-btn, .timer-btn {
  background: #c1ff9b;
  height: 30px;
  width: 100%;
  height: 100%;
}

.timer-btn {
  background: #ab87ff;
}