.content {
  background-color: #fff;
  display: inline-block;
  width: 750px;
  margin-top: 60px;
}

.bar {
  background-color: #00BCD4;
  height: 100px;
  width: 100%;
}

.app {
  background-color: #fff;
}

.nav {
  background-color: #B2EBF2;
  display: inline-block;
  height: 375px;
  width: 150px;
}

.btn {
  background-color: #B2EBF2;
  height: 75px;
  width: 150px;
}

.btn:active {
  background-color: #E040FB;
}

.field {
  background-color: #fff;
  display: inline-block;
  position: fixed;
  height: 50px;
  width: 100%;
}

.area {
  height: 50px;
  width: 75%;
}

.sand {
  height: 50px;
  width: 50px;
}

.task {
  border: 2px solid #E040FB;
  margin: 5px;
}

.help {
  background-color: springgreen;
  width: 750px;
  height: 300px;
  display: inline-block;
}

.stats {
  background-color: orangered;
  width: 750px;
  height: 300px;
  display: inline-block;
}

.folder {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: burlywood;
  margin: 10px;
}

.selecte {
  background-color: darkseagreen;
}

.search {
  width: 75%;
  height: 50px;
  border-radius: 5px;
}

.edit-save, .edit-close, .edit-btn , .delete-btn, .note-btn {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 5px;
  display: inline-block;
}

.edit-btn {
  background-color: darkslategray;
}

.edit-save {
  background-color: greenyellow;
}

.edit-close {
  background-color: orangered;
}

.note-btn {
  background-color: pink;
}

.note {
  height: 500px;
  width: 500px;
  display: inline-block;
}

.note-field {
  height: 500px;
  width: 500px;
  background-color: oldlace;
}

.back, .note-save {
  height: 50px;
  width: 200px;
  display: inline-block;
}

.back {
  background-color: darkred;
}

.note-save {
  background-color: orangered;
}