.app {
  width: 800px;
  height: 600px;
  background-color: #666;
  position: relative;
}

.hat-app {
  width: 800px;
  height: 70px;
  background-color: #44FFB1;
  position: absolute;
}

.main-app {
  width: 570px;
  height: 425px;
  background-color: #FFC157;
  position: absolute;
  top: 70px;
  left: 230px;
}

.nav-sidebar-app {
  width: 230px;
  height: 530px;
  background-color: #CEE87B;
  position: absolute;
  top: 70px;
}

.area-input-task-app {
  background-color: #A471FF;
  position: absolute;
  height: 105px;
  width: 570px;
  left: 230px;
  top: 495px;
}

.text-area-input-task-app {
  position: relative;
  width: 500px;
  height: 99px;
  resize: none;
  outline: none;
  overflow: auto;
  font-size: 20px;
  font-family: 'Fira Sans', sans-serif;
}

/*.btn-area-input-task-app {

  width: 70px;
  height: 105px;

  background-color: black;
}

.btn-area-input-task-app:hover {
  background-color: red;
}*/

.track-task {
  background-color: #E85997;
  width: 500px;
  height: 50px;
  margin: 35px 35px;
  position: relative;
  text-align: center;
  padding: 5px 5px;
  font-size: 20px;
  display: block;
  font-family: 'Fira Sans', sans-serif;
}

.track-task-delete {
  background-color: mediumvioletred;
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 5px;
  right: 10px;
  top: 10px;
  position: absolute;
}

.btn-area-input-task-app {
	background-color: #40c781;
	text-align: center;
	line-height: 102px;
	font-weight: 700;
  width: 70px;
  height: 102px;
	color: #fff;
	text-decoration: none;
	opacity: 1;
	border: 0px solid #35a76e;
	border-bottom-width: 4px;
  position: relative;
  left: 500px;
  top: -111px;
  font-size: 50px;
  text-align: center;
  color: #34a46c;
}

.btn-area-input-task-app:hover {
	background-color:#34a46c;
  color: #40c781;
}

.track-task-checkbox-input {
  display: none;
}

.track-task-checkbox {
	width: 40px;
	height: 40px;
	background: #E53D5C;
  display: inline-block;
	border-radius: 100%;
	position: absolute;
  left: 8px;
  top: 10px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, .5);
}

.track-task-checkbox-in {
  border-radius: 100px;
  background-color: rgba(102, 14, 83, .8);
  display: inline-block;
  margin: 5.5px;
	width: 30px;
	height: 30px;
}

.track-task-checkbox-in:hover {
  background-color: rgba(102, 14, 83, .3);
}