@import url('https://fonts.googleapis.com/css?family=Droid+Sans');

body {
  background: #9E9E9E;
  font-family: 'Droid Sans', sans-serif;
  font-size: 15px;
}

.app {
  display: flex;
  flex-flow: row wrap;
  font-size: 16px;
}

.bar {
  background: #BDBDBD;
  display: flex;
  height: 90px;
  width: 100%;
  margin-bottom: 5px;
}

.help {
  background: #BDBDBD;
  display: flex;
  align-self: center;
  flex-flow: column;
  justify-content: center;
  flex: 1;
  width: 100%;
}

.help>p {
  margin: 20px;
  font-weight: 500;
  text-transform: initial;
}

.help-title {
  font-size: 20px;
  font-weight: bold;
  align-self: center;
}

.help-prop {
  font-weight: bold;;
  text-decoration: underline;
  text-transform: uppercase;
}

.nav {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  margin: 5px 15px;
  flex: 1 200px;
  font-weight: bold;
  text-transform: uppercase;
}

.btn {
  background: #03A9F4;
  width: 100%;
  height: 50px;
  margin: 5px 0px;
  border-radius: 5px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  cursor: pointer;
}

.btn:hover {
  background: #BDBDBD
}

.content {
  margin: 5px 15px;
  background: #BDBDBD;
  display: flex;
  flex-flow: column wrap;
  flex: 4 400px;
  justify-content: flex-start;
  padding: 0px 10px 0px 10px;
}


.archiv {
  margin: 3px 0px;
}

.list {
  height: 100%;
  display: flex;
  flex-flow: column wrap;
}

.task>.wrap {
  display: flex;
  flex-flow: row wrap;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.search {
  align-self: center;
  width: 30%;
  margin: 10px;
  height: 25px;
  margin-left: 0;
  border-radius: 10px;
  border: 0px;
  outline: none;
  font-size: 15px;
  padding-left: 10px;
  transition: width 0.4s ease-in-out;
}

.search-icon {
  background: url('../img/search.png');
}

.search:focus {
  width: 60%;
}

.field {
  font-family: 'Droid Sans', sans-serif;
  display: flex;
  flex-flow: row wrap;
  padding: 0 20px;
}

.area {
  background-color: #F5F5F5;
  font-family: 'Droid Sans', sans-serif;
  font-size: 15px;
  flex: 5;
  border: 0px;
  border-radius: 2px;
  font-size: 15px;
  padding-left: 10px;
  resize: none;
  outline-color: #03A9F4;
}

.collection {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.folder>.wrap {
  height: 200px;
  width: 200px;
  border-radius: 10%;
  margin: 15px;
  display: flex;
  flex-flow: column wrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  cursor: pointer;
}

.folder>.wrap:hover {
  background: #9E9E9E;
}

.folder-panel {
  display: flex;
  flex-flow: row;
  flex: 1;
  justify-content: center;
}

.folder-name {
  align-self: center;
  display: inline-block;
  flex: 2;
}

.descript {
  margin: 0;
  flex: 1;
  align-self: center;
}

.edit-field {
  font-family: 'Droid Sans', sans-serif;
  border-radius: 20px;
  background-color: #F5F5F5;
  border: 0;
  outline: none;
}

.delete-btn {
  background: url('../img/delete.png');
  height: 48px;
  width: 48px;
  align-self: center;
  cursor: pointer;
}

.edit-btn {
  background: url('../img/edit.png');
  width: 48px;
  height: 48px;
  align-self: center;
  cursor: pointer;
}

.complete {
  cursor: pointer;
  background: #9E9E9E;
  align-self: center;
  border-radius: 100%;
  margin: 0px 15px 0px 5px;
  height: 15px;
  width: 15px;
  border: 5px solid #BDBDBD;
}

.complete:active {
  background: #BDBDBD;
  border-color: #03A9F4;
}

input[type=checkbox] {
  display: none;
}

.note-btn {
  background: darkslateblue;
  flex-flow: column;
}

.note {
  display: flex;
  flex-flow: row;
  justify-content: center;
  padding: 20px 5px;
}

.note-panel {
  background: #03A9F4;
  display: flex;
  flex-flow: column;
}

.note-field {
  font-family: 'Droid Sans', sans-serif;
  background-color: #F5F5F5;
  font-size: 16px;
  width: 100%;
  height: 560px;
  border: 0px;
  outline: none;
  resize: none;
}

.note-save {
  background: #c1ff9b;
}

.stopwatch, .timer>.wrap {
  display: flex;
  flex-flow: row;
  color: mediumvioletred;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  align-items: center;
}

.timer {
  display: flex;
  flex-flow: row;
}

.stopwatch-btn, .back, .wrap>.timer-btn, .note-btn, .note-save, .sand,
.exit, .save, .timer-spoiler-btn, .timer-spoiler-off-btn {
  width: 48px;
  height: 48px;
  align-self: center;
  cursor: pointer;
}

.note-btn {
  background: url('../img/note.png');
}

.stopwatch-btn {
  background: url('../img/play.png');
}

.pause {
  background: url('../img/pause.png');
}

.timer-btn {
  background: url('../img/cancel.png')
}

.timer-spoiler-btn {
  background: url('../img/timer-on.png');
}

.timer-spoiler-off-btn {
  background: url('../img/timer-off.png');
}

.save {
  background: url('../img/save.png');
}

.exit {
  background: url('../img/exit.png')
}

.sand {
  background: url('../img/add.png');
}

.search {
  background: url('../img/search.png');
  background-color: #F5F5F5;
  background-position: 2px 2px;
  background-repeat: no-repeat;
  padding: 0px 0px 0px 30px;
}

.sand:hover {
  transform: rotate(90deg);
}

.edit-field {
  font-family: 'Droid Sans', sans-serif;
  background-color: #F5F5F5;
  flex: 1;
  height: 50%;
  align-self: center;
  border-radius: 0;
  margin-right: 10px;
  margin-left: 40px;
  outline: none;
}

.edit-close, .edit-save {
  margin-left: 5px;
  margin-right: 3px;
}

.archiv {
  padding: 0px 0px 0px 20px;
}

.folder-field {
  background-color: #F5F5F5;
  font-family: 'Droid Sans', sans-serif;
  width: 195px;
  margin-top: 75px;
  justify-content: center;
  outline: none;
  border: 0px;
}

.folder-edit-panel {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.folder-edit {
  display: flex;
  flex-flow: column;
}

.wrap {
  display: flex;
  flex-flow: row wrap;
}

.level-one   { background-color: #03A9F4; }
.level-two   { background-color: #009688; }
.level-three { background-color: #4caf50; }
.level-four  { background-color: #ffeb3b; }
.level-five  { background-color: #ff9800; }

.date {
  font-weight: bold;
  align-self: center;
  margin-bottom: 0px;
}

.wrap-date {
  display: flex;
  flex-flow: column;
}

.list-exit {
  align-self: flex-start;
  text-transform: uppercase;
  font-weight: 800;
  margin: 5px 5px 0 5px;
  color: black;
  padding: 0 5px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.list-exit:hover {
  background: #9E9E9E;
  cursor: pointer;
  user-select: none;
}

.account {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
}

.account-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.account-prop {
  font-weight: bold;
  margin-right: 10px;
  text-transform: uppercase;
}

.account-data {
  font-size: 20px;
}